body {
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    font-size: 20px;
    border-radius: 15px;
    padding: 25px 50px;
}

.buttons:focus {
    outline: none;
}

.button1 {
    margin: 50px;
}

.formStep2 {
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 100px;
}

.backSave {
    margin-top: 80px;
}

.save {
    float: right;
}

.error {
    display: none;
}

.layerButton, .feed {
    margin-left: 50px;
    margin-top: 50px;
}

.feed {
    font-size: 30px;
}

.feed div {
    display: inline-block;
}
